.btn {
  outline: none;
  letter-spacing: 0.5px;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  &:hover {
    background-color: #cb3f07;
  }
}

.nav-link {
  text-transform: uppercase;
}

.socials {
  a {
    width: 35px;
    height: 35px;
    background-color: $primary;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #cb3f07;
    }
  }
}

.topSection {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ),url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  p {
    max-width: 600px;
  }
}

.playButton {
  position: absolute;
  bottom: 42%;
  left: 42%;
  a {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.infoParagraph {
  color: #8492a6;
}