.btn {
  outline: none;
  letter-spacing: 0.5px;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  &:hover {
    background-color: #cb3f07;
  }
}

.nav-link {
  text-transform: uppercase;
}

.pSection {
  max-width: 600px;
  color: #8492a6;
}
.socials {
  a {
    width: 35px;
    height: 35px;
    background-color: $primary;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #cb3f07;
    }
  }
}

.topSection {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ),url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  p {
    max-width: 600px;
  }
}

.playButton {
  position: absolute;
  bottom: 42%;
  left: 42%;
  a {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.infoParagraph {
  color: #8492a6;
}

.perfectSection {
  .card {
    transition: all .5s ease-in-out;
    .cardIcon {
      background: rgba(255,87,20,0.1);
      height: 85px;
      width: 85px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a {
      color: $dark;
      text-decoration: none;
      transition: all .5s ease;
      &:hover {
        color: $primary;
      }
    }
    &:hover {
      box-shadow: 0 25px 25px rgba(36,39,44,0.05);
    }
  }
}

.imgBorder {
  border-right: #000000 1px dotted;
}
.portfolio {
  background-color: #f8f9fc;
  .card-body {
    .content {
      bottom: 0;
      margin-left: 5%;
      color: #FFFFFF;
      opacity: 0;
      transition: all .3s ease-in-out;
      a {
        color: #FFFFFF;
        transition: all .3s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
    }
    .cardIcon {
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    img {
      transition: all .3s ease-in-out;
    }
    &:hover {
      .content,
      .cardIcon {
        opacity: 1;
      }
      img {
        transform: scale(1.04) rotate(2deg);

      }
    }
  }
  
}

.ready {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.5)
  ),url("https://shreethemes.in/upstart/layouts/images/bg/cta.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardList {
  .card {
    box-shadow: 0 0 3px rgba(36,39,44,0.15);
    transition: all .3s ease-in-out;
    &:hover {
      box-shadow: 0 15px 20px rgba(36,39,44,0.05);
      transform: translateY(-10px);
    }
    li {
      &:nth-child(2n) {
        margin: .5rem 0;
      }
    }
    a {
      background-color: rgba(255,87,20,0.1);
      border: 1px solid rgba(255,87,20,0.1);
      color: #ff5714;
      box-shadow: 0 3px 5px 0 rgba(255,87,20,0.1);
      transition: all .3s ease-in-out;
      &:hover {
        background-color: #ff5714;
        border: 1px solid #ff5714;
        color: #FFFFFF;
        box-shadow: 0 3px 5px 0 rgba(255,87,20,0.1);
      }
    }
  }
}

.creativeSection {
  background-color: #F8F9FC;
}

/* Latest News Section */
.latestNews {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  font-family: "Roboto Slab", serif;
}

.containerNews {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.newsTop h6 {
  color: #ff5714;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsTop h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
  text-align: center;
}

.newsParagraph {
  max-width: 600px;
  display: flex;
  margin: auto;
  text-align: center;
  color: #8492a6;
}

.contentNews {
  display: flex;
  padding-top: 3rem;
  width: 80%;
  margin: auto;
}

.cardNews {
  box-shadow: 0 0 3px rgba(36,39,44,0.15);
  border-radius: 5px;
  width: 30%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in-out;
}

.cardNews:hover {
  box-shadow: rgba(79, 77, 77, 0.25) 0px 24px 15px;
  transition: all .3s ease-in-out;
}

.cardNews img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.cardNewsInfo {
  padding: 1.5rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 80%;
}

.cardNewsInfo>a {
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto Slab",serif;
  line-height: 1.5;
  font-weight: 600;
  color: #24272c;
}

.readMore > a:hover,
.cardNewsInfo>a:hover {
  color: #FF572A;
}

.cardNewsInfo>p {
  color: #8492a6;
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1.6;
}

.readMore {
  margin-top: 1rem;
}

.readMore > a {
  color: #24272c;
  text-decoration: none;
  letter-spacing: 0.5px;
}

/* Contact US Section */

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #F8F9FC;
  padding: 100px 0;
  font-family: "Roboto Slab", serif;
}

.contactTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.contactTop h6 {
  color: #FF5714;
  font-size: 15px;
}

.contactTop h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
}

.contactParagraph {
  max-width: 600px;
  display: flex;
  margin: auto;
  text-align: center;
  color: #8492a6;
}

.contactMain {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
}

.message {
  width: 70%;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding-top: 0.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.nameEmail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.nameEmail input {
  width: 45%;
  border: 1px solid #DEE2e6;
  border-radius: 5px;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

/* Input ve textarea kısımlarına tıklandığında border renginin değişimi sağlanmaktadır. */
input:focus,
textarea:focus{
  outline: #E04000 solid 1px;
}

.subject{
  width: 86.6%;
  border: 1px solid #DEE2e6;
  border-radius: 5px;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.textarea{
  width: 86.6%;
  border: 1px solid #DEE2e6;
  border-radius: 5px;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  min-height: 30px;
  height: 127px;
  resize: vertical; /*Textarea'nın sadece dikeyde hareket edilebilmesi sağlanıyor. */
}

.formButton {
  width: 90%;
  margin: auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
}

.formButton button {
  background-color: #FF572A;
  color: #FFFFFF;
  border: 1px #FF572A solid;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: all .3s ease;
  cursor: pointer;
}

.formButton > button:hover {
  background-color: #d54106;
  transition: all .3s ease;
}

.location {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 1rem;
  flex-wrap: wrap;
  padding: 5%;
}

.locationSingle {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10%;
}

.locationIcon {
  text-align: start;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0;
}

.locationInfo {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.locationInfo h5 {
  font-size: 18px;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-top: 0;
}

.locationInfo p,
.locationInfo a {
  color: #8492a6;
  text-decoration: none;
  text-align: left;
}

.location a:hover {
  color: #778496;
}


@media screen and (max-width: 992px) {
  
  .rowImage {
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
  }

  .rowLogo {
    max-width: 960px;
  }

  .contentNews {
    flex-wrap: wrap;
  }

  .cardNews {
    width: 45%;
  }

  .message {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  
  .rowInfo div {
    width: 45%;
  }

  .card {
    width: 100%;
  }

  .rowLogo {
    flex-wrap: wrap;
  }

  .rowLogo div {
    width: 50%;
    margin-bottom: 30px;
  }

  .cardNews {
    width: 100%;
  }

  .nameEmail input {
    width: 45%;
    margin: auto;
  }

  .contact {
    padding: 60px 0;
  }

  .contactMain {
    flex-wrap: wrap;
  }

  .message {
    width: 100%;
  }

  .location {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {

  .contactMain {
    width: 100%;
  }
  
  .contact {
    max-width: 540px;
  }
}